.container {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.table, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.col2 {
  display: flex;
  flex-flow: column nowrap;
}

.capicua {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px;
}

.input {
  width: 50%;
  padding: 8px;
  margin: 16px;
}